/* customized css variables */
:root {
  --bs-primary: #05cbee;
  --bs-secondary: #61616175;
  --bs-success: #4987b5;
  --bs-info: #5bd124;
  --bs-warning: #ffc107;
  --bs-danger: #d22f4d;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}
* {
  transition: all 0.8s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
datalist {
  position: absolute;
  background-color: #bd2929;
  font-family: sans-serif;
  font-size: 0.8rem;
}

option {
  background-color: #52caa2;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}
